services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - ODOO_VER={{ config.ODOO_VER }}
        - ODOO_REVISION={{ config.ODOO_REVISION }}
    container_name: {{ config.ODOO_CONT_NAME }}
    depends_on:
      db:
        condition: service_healthy
      smtp4dev:
        condition: service_started
    ports:
      - "${ODOO_HOST_PORT:-8069}:8069"
      - "5858:5858"
    command: /usr/bin/python3 -m debugpy --listen 0.0.0.0:5858 /usr/bin/odoo --db_host=db -c /etc/odoo/odoo.conf --dev reload
    tty: true
    volumes:
      - odoo-filestore:/var/lib/odoo
      - {{ config.PROJECT_LOCATION }}/entrypoint.sh:/entrypoint.sh
      - {{ config.PROJECT_LOCATION }}/config:/etc/odoo
      - {{ config.PROJECT_LOCATION }}/addons:/mnt/extra-addons
      - {{ config.UPGRADE_UTIL_LOCATION }}:/mnt/upgrade-util
      - {{ config.ENTERPRISE_LOCATION }}:/mnt/enterprise
    restart: on-failure

  db:
    image: pgvector/pgvector:pg{{ config.PSQL_VER }}
    container_name: {{ config.PSQL_CONT_NAME }}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ config.PSQL_DB_USERNAME }}"]
      interval: 5s
      timeout: 5s
      retries: 5
    command: >
      postgres
      -c autovacuum_vacuum_scale_factor=0.05
      -c autovacuum_analyze_scale_factor=0.02
      -c autovacuum_max_workers=3
      -c lock_timeout=5000
    environment:
      - POSTGRES_DB={{ config.PSQL_DB_NAME }}
      - POSTGRES_PASSWORD={{ config.PSQL_DB_PASSWORD }}
      - POSTGRES_USER={{ config.PSQL_DB_USERNAME }}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - {{ config.PROJECT_LOCATION }}/psql:/var/lib/postgresql/data/pgdata
    ports:
      - "${DB_HOST_PORT:-5432}:5432"

  smtp4dev:
    image: rnwood/smtp4dev:latest
    container_name: {{ config.SMTP_CONT_NAME }}
    ports:
      - "5080:80"
      - "25:25"
      - "143:143"
    hostname: smtp4dev_odoo
    restart: on-failure

volumes:
  odoo-filestore:
