[Desktop Entry]

Type=Application

# The version of the desktop entry specification to which this file conforms
Version=1.0

# The name of the application
Name=SmartOdoo

# A comment which can/will be used as a tooltip
Comment=Launch SmartOdoo

# The path to the folder in which the executable is run
Path=/opt/smartodoo

# The executable of the application, possibly with arguments.
Exec=gnome-terminal -- sh "/opt/smartodoo/.venv/bin/python3 smartodoo_gui.py"

# The name of the icon that will be used to display this entry
#Icon=smartodoo
 
# Describes whether this application needs to be run in a terminal or not
Terminal=false
 
# Describes the categories in which this entry should be shown
Categories=Python;Docker;Odoo;